.weekColor {
    filter: invert(80%);
    -webkit-filter: invert(80%);
    background: #4e4e4e;
}

.c-full-container {
    width: 100%;
    height: 100%;
}

.c-container-bg{
    background: rgb(245, 245, 249);
}
.c-container-blue{
    background: rgb(41, 48, 103);
}
.c-img-res {
    display: block;
    width: 100%;
    height: auto;
}

.c-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.c-flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.c-flex-row-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.c-flex-row-allStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.c-flex-row-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.c-flex-auto-wrap {
    flex-wrap: wrap;
}

.c-flex-row-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.c-button {
    width: 120px;
    border-radius: 0 !important;
}

.c-formSec {
    width: 70%;
    margin-bottom: 20px !important;
}

.c-container {
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
}


.modal-icon {
    font-size: 30px;
    margin-right: 20px;
}

.icon-success {
    color: #579e59
}

.icon-error {
    color: #e4322e
}

.icon-warn {
    color: #8a6d3b
}

.c-required::before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    line-height: 1;
    font-size: 14px;
    color: #f5222d;
}


/* design regular */
.blue-bg {
    background: #2666f5 !important;
}

.blue-font {
    color: #2666f5 !important;
}

.pink-bg {
    background: #ff4858 !important;
}

.pink-font {
    color: #ff4858 !important;
}

.orange-bg {
    background: #febf46 !important;
}

.orange-font {
    color: #febf46 !important;
}

.gray-bg {
    background: #5e6071 !important;
}

.gray-font {
    color: #5e6071 !important;
}

.weekGray-bg {
    background: #a8acb5 !important;
}

.weekGray-font {
    color: #a8acb5 !important;
}

.light-bg {
    background: #e7eaed !important;
}

.light-font {
    color: #e7eaed !important;
}

.weekLight-bg {
    background: #f2f6fa;
}

.weekLight-font {
    color: #f2f6fa;
}

.white-bg {
    background: #fff !important;
}

.weekPink-font {
    color: #fd92af !important;
}


.c-bg-container::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    filter: blur(10px);
    background: inherit;
}

.scrollWrap::-webkit-scrollbar {
    width: 2px;
    height: 5px;
    background-color: #3d6536;
}

.scrollWrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #3d6536;
}

.scrollWrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #3d6536;
}

.status_0 {
    background: #fff !important;
    color: #5e6071 !important;
}

.status_1 {
    background: rgb(98, 155, 88) !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_2 {
    background: rgb(58, 135, 173) !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_3 {
    background: rgb(254, 224, 136) !important;
    color: #5e6071;
    border-color: transparent !important;
}

.status_4 {
    background: #717171 !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_5 {
    background: rgb(221, 17, 0) !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_6 {
    background: rgb(196, 62, 108) !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_7 {
    background: #b33131 !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_8 {
    background: rgb(221, 63, 105) !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.status_9 {
    background: rgb(185, 65, 0) !important;
    color: #f2f6fa;
    border-color: transparent !important;
}

.clearFix::after {
    clear: both;
    content: '';
    display: block;
}

.font-bold {
    font-weight: bold;
}

.badge-custom {
    font-size: 12px;
    color: #fff;
    background: #ff664d;
    padding: 2px;
    border-radius: 5px;
    margin-left: 5px;
    display: block;
    text-align: center;
}

.c-text-center {
    text-align: center;
}
.el-time-panel{
    left: -30px !important;
}
.el-message{
    min-width: 280px !important;
}
